
.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 60px;
    gap: 20px;
    background-size: cover;
    background: linear-gradient(
            90deg,
            rgba(5, 7, 15, 0.9) 0%,
            rgba(6, 8, 18, 0.9) 10%,
            rgba(7, 9, 21, 0.9) 20%,
            rgba(8, 10, 24, 0.9) 30%,
            rgba(9, 11, 27, 0.9) 40%,
            rgba(10, 12, 30, 0.9) 50%,
            rgba(11, 13, 33, 0.9) 60%,
            rgba(12, 14, 36, 0.9) 70%,
            rgba(13, 15, 39, 0.9) 80%,
            rgba(14, 16, 42, 0.9) 90%,
            rgba(15, 17, 45, 0.9) 100%
    );
}

.title {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 300;
    line-height: 77px;
}

/* Галерея */

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 900px;
}

.arrow {
    background: none;
    border: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(1.2);
}

.videoContainer {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16 / 9;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}

.caption {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.2vw;
    color: white;
    text-align: center;
}

.placeholder {
    color: white;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

