.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Фоновое изображение */
.bg_about {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url('/images/about/bg_about.png') no-repeat center center;
    background-size: cover;
    background-color: #0f0f0f;
    z-index: 0;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 60px;
    padding-left: 5vw;
    max-width: 60vw;
}

/* Общий стиль секций */
.section {
    position: absolute;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    padding: 40px;
}

/* Позиции */
.sectionTopLeft {
    top: 0;
    left: 0;
    align-items: flex-start;
}

.sectionBottomRight {
    bottom: 0;
    right: 0;
    align-items: flex-end;
    text-align: right;
}

/* Заголовок секции */
.sectionTitle {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 3.2vw;
    line-height: 1.2;
    color: #fff;
    max-width: 50vw;
}

.boldLetter {
    font-weight: 700;
}

/* Подзаголовок */
.subheading {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.6vw;
    line-height: 1.2;
    background: radial-gradient(50% 230.59% at 50% 50%, #A97211 0%, #AD872E 25%, #AF913D 37.5%, #B09644 43.75%, #B19B4B 50%, #D3BE61 75%, #F4E077 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 60vw;
}

/* Основной текст */
.text {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 1.4;
    color: #ffffff;
    max-width: 60vw;
}
